[submodule "third/HdrHistogram_c"]
	url = git@github.com:HdrHistogram/HdrHistogram_c.git
	path = third/HdrHistogram_c
[submodule "third/mimalloc"]
	path = third/mimalloc
	url = git@github.com:microsoft/mimalloc.git
